<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h1>Control de Rutas</h1>
          <p class="mb-0">Sectores, horarios y rutas</p>
          <hr />
          <button
            type="button"
            class="btn btn-info"
            (click)="openWindowCustomClass(modalNewRoute, false)">
            <i class="fa fa-plus"></i> Agregar ruta
          </button>
        </div>
        <div class="card-body border-0">
          <div class="table-responsive">
            <ng-template #noRoutes >
              <div class="p-3">No existen rutas registradas</div>
            </ng-template>

            <table
              class="table align-items-center table-flush"
              *ngIf="this._rt.routes.length > 0; else noRoutes">
              <thead class="thead-light">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Empleado</th>
                  <th scope="col">Sector</th>
                  <th scope="col">Ver la ruta trazada en el Mapa</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let route of this._rt.routes; let i = index">
                  <th scope="row">
                    {{ i + 1 }}
                  </th>
                  <td>
                    <p class="mb-0">   </p>
                    <small class="text-muted">
                      <strong>Vehiculo:  </strong>
                    </small>
                  </td>
                  <td>
                    <p class="mb-0">{{ route.name }} ({{ route.des }})</p>
                    <small class="text-muted">
                      <strong>Dias: </strong>({{route.schedule_days_runs}})
                      <strong>H. Inicio: </strong>({{route.schedule_begin}})
                      <strong>H. Fin: </strong>({{route.schedule_end}})
                    </small>
                  </td>
                  <td>
                    <button
                      type="button"
                      class="btn btn-info"
                      (click)="openWindowMap(modalMap); assignRoute(route)">
                      <i class="fa fa-map-pin"></i> Ver en Mapa
                    </button>
                  </td>
                  <td>
                    <button
                      type="button"
                      class="btn btn-info btn-circle"
                      (click)="
                        editRoute(route);
                        openWindowCustomClass(modalNewRoute, true)">
                      <i class="fa fa-edit"></i>
                    </button>
                    <button
                      type="button"
                      class="btn btn-danger btn-circle"
                      (click)="deleteRoute(route._id)">
                      <i class="fa fa-times"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Formulario nueva ruta -->
<ng-template #modalNewRoute let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{!isEdit ? 'Nueva Ruta' : 'Editar Ruta'}}</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form
      autocomplete="off"
      (ngSubmit)="addRoute(routeForm)"
      #routeForm="ngForm"
    >
      <input
        type="hidden"
        name="_id"
        #_id="ngModel"
        [(ngModel)]="_rt.selectedRoute._id"
      />

      <!-- Empleado -->
       <div class="form-group row">
        <label class="col-2 col-form-label">Empleados</label>
        <div class="col-8">

          <select class="custom-select mb-3"
                  name="employee"
                  (change)="_rh.selectedEmployee = employee.value"
                  [ngModel]="this._rh.selectedEmployee"
                  #employee="ngModel"
                  required>
            <option value="">-- Seleccione empleados --</option>
            <option *ngFor="let employee of _rh.employees" [ngValue]="employee">
              {{employee.name}} {{employee.apellido}} ({{employee.cargo}})
            </option>
          </select>

        </div>
      </div>

      <!-- Vehiculo -->
       <div class="form-group row">
        <label class="col-2 col-form-label">Vehículo</label>
        <div class="col-8">

          <select class="custom-select mb-3"
                  name="vehicle"
                  (change)="_iS.selectedVehicle = vehicle.value"
                  [ngModel]="this._iS.selectedVehicle"
                  #vehicle="ngModel"
                  required>
            <option value="">-- Seleccione vehiculo --</option>
            <option *ngFor="let vehicle of _iS.vehicles" [ngValue]="vehicle">
              {{ vehicle.marca }} | {{vehicle.disco}}
            </option>
          </select>

        </div>
      </div>


      <!-- Sector Name -->
      <div class="form-group row">
        <label class="col-2 col-form-label">Nombre Sector</label>
        <div class="col-8">
          <input
            class="form-control"
            type="text"
            name="name"
            [class.is-invalid]="name.invalid && name.touched"
            [ngModel]="this._rt.selectedRoute.name"
            placeholder="Nombre"
            required
            minlength="1"
            #name="ngModel"
          />
          <small
            *ngIf="name.invalid && name.touched"
            class="form-text text-danger"
            >Ingrese 5 letras</small
          >
        </div>
      </div>
      <!-- Descripción -->
      <div class="form-group row">
        <label class="col-2 col-form-label">Descripción</label>
        <div class="col-8">
          <input
            class="form-control"
            type="text"
            name="des"
            [class.is-invalid]="des.invalid && des.touched"
            [ngModel]="this._rt.selectedRoute.des"
            placeholder="Descripción"
            required
            min="0"
            #des="ngModel"
          />
          <small
            *ngIf="des.invalid && des.touched"
            class="form-text text-danger"
            >Ingrese 5 letras</small
          >
        </div>
      </div>

      <!-- Horar Inicio -->
      <div class="form-group row">
        <label class="col-2 col-form-label">Hora Inicio</label>
        <div class="col-8">
          <input
            class="form-control"
            type="text"
            name="schedule_begin"
            [class.is-invalid]="
              schedule_begin.invalid && schedule_begin.touched
            "
            [ngModel]="this._rt.selectedRoute.schedule_begin"
            placeholder="7:00"
            required
            minlength="1"
            #schedule_begin="ngModel"
          />
          <small
            *ngIf="schedule_begin.invalid && schedule_begin.touched"
            class="form-text text-danger"
            >Ingrese 5 letras</small
          >
        </div>
      </div>
      <!-- Hora Fin -->
      <div class="form-group row">
        <label class="col-2 col-form-label">Hora Fin</label>
        <div class="col-8">
          <input
            class="form-control"
            type="text"
            name="schedule_end"
            [class.is-invalid]="schedule_end.invalid && schedule_end.touched"
            [ngModel]="this._rt.selectedRoute.schedule_end"
            placeholder="22:00"
            required
            minlength="1"
            #schedule_end="ngModel"
          />
          <small
            *ngIf="schedule_end.invalid && schedule_end.touched"
            class="form-text text-danger"
            >Ingrese 5 letras</small
          >
        </div>
      </div>

     <!-- Días -->
     <div class="form-group row">
      <label class="col-2 col-form-label">Días de la semana</label>
      <div class="col-8">

        <div class="form-check" *ngFor="let day of days">
          <input class="form-check-input"
                 type="checkbox"
                 [checked]="_rt.selectedRoute.schedule_days_runs.includes(day.value)"
                 [value]="day.value"
                 [id]="day.des"
                 (change)="onCheckboxChange($event)">
          <label class="form-check-label" [attr.for]="day.des">
            {{day.des}}
          </label>
        </div>
      </div>
    </div>

      <!-- Mapa -->
      <agm-map
        [latitude]="lat"
        [longitude]="lng"
        [zoom]="zoom"
        (mapClick)="addMarker($event)">
        <!-- Marcador origen -->
        <agm-marker *ngIf="this._rt.selectedRoute.gps.origin.lat !== 0"
                    label="A"
                    [latitude]="this._rt.selectedRoute.gps.origin.lat"
                    [longitude]="this._rt.selectedRoute.gps.origin.lng"></agm-marker>
        <!-- Marcador destino -->
        <agm-marker  *ngIf="this._rt.selectedRoute.gps.destination.lat !== 0"
                     label="B"
                     [latitude]="this._rt.selectedRoute.gps.destination.lat"
                     [longitude]="this._rt.selectedRoute.gps.destination.lng"></agm-marker>
        <!-- Marcador puntos intermedios-->
        <agm-marker  *ngFor="let point of this._rt.selectedRoute.gps.waypoints"
                     [latitude]="point.location['lat']"
                     [longitude]="point.location['lng']"></agm-marker>
        <!-- Trazado de rutas-->
        <agm-direction *ngIf="this._rt.selectedRoute.gps.origin.lat !== 0 && this._rt.selectedRoute.gps.origin.lat !== 0"
                       [origin]="this._rt.selectedRoute.gps.origin"
                       [waypoints]="this._rt.selectedRoute.gps.waypoints"
                       [destination]="this._rt.selectedRoute.gps.destination"></agm-direction>
        <!--<agm-marker
          [latitude]="marker.lat"
          [longitude]="marker.lng"
          *ngFor="let marker of _rt.selectedRoute.gps; let i = index">
          <agm-info-window
            [disableAutoPan]="false"
            [latitude]="marker.lat"
            [longitude]="marker.lng">
            <p><strong>Latitud: </strong>{{ lat }}</p>
            <p><strong>Longitud: </strong>{{ lng }}</p>
            <div>
              <button class="btn btn-danger" (click)="eraseMarker(i)">
                Borrar
              </button>
            </div>
          </agm-info-window>
        </agm-marker>-->
      </agm-map>
      <div class="modal-footer">
        <button class="btn btn-dark" type="submit">Guardar</button>
        <button
          type="button"
          class="btn btn-light"
          (click)="modal.close('Close click')">
          Close
        </button>
      </div>
    </form>
  </div>
</ng-template>

<!-- Modal ver mapa -->
<ng-template #modalMap let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ selectedRoute.name }}</h4>
  </div>
  <div class="modal-body">
    <!-- Mapa -->
    <agm-map
      [latitude]="lat"
      [longitude]="lng"
      [zoom]="zoom">
      <!-- Marcador origen -->
      <agm-marker *ngIf="this.selectedRoute.gps.origin.lat !== 0"
                  label="A"
                  [latitude]="this.selectedRoute.gps.origin.lat"
                  [longitude]="this.selectedRoute.gps.origin.lng"></agm-marker>
      <!-- Marcador destino -->
      <agm-marker  *ngIf="this.selectedRoute.gps.destination.lat !== 0"
                   label="B"
                   [latitude]="this.selectedRoute.gps.destination.lat"
                   [longitude]="this.selectedRoute.gps.destination.lng"></agm-marker>
      <!-- Marcador puntos intermedios-->
      <agm-marker  *ngFor="let point of this.selectedRoute.gps.waypoints"
                   [latitude]="point.location['lat']"
                   [longitude]="point.location['lng']"></agm-marker>
      <!-- Trazado de rutas-->
      <agm-direction *ngIf="this.selectedRoute.gps.origin.lat !== 0 && this.selectedRoute.gps.origin.lat !== 0"
                     [origin]="this.selectedRoute.gps.origin"
                     [waypoints]="this.selectedRoute.gps.waypoints"
                     [destination]="this.selectedRoute.gps.destination"></agm-direction>
    </agm-map>
  </div>
</ng-template>

<style>
  agm-map {
    height: 300px;
  }
</style>
