<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card bg-gradient-default shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-light ls-1 mb-1">Mapa</h6>
              <h2 class="text-white mb-0">Contenedores y Rutas</h2>
            </div>
            <!--<div class="col">
              <ul class="nav nav-pills justify-content-end">
                <li class="nav-item mr-2 mr-md-0">
                  <a href="javascript:void(0)" class="nav-link py-2 px-3" [ngClass]="{'active':clicked===true}" data-toggle="tab" (click)="clicked=true;clicked1=false">
                    <span class="d-none d-md-block">Month</span>
                    <span class="d-md-none">M</span>
                  </a>
                </li>
                <li class="nav-item" data-toggle="chart" data-target="#chart-sales">
                  <a href="javascript:void(0)" class="nav-link py-2 px-3" [ngClass]="{'active':clicked1===true}" data-toggle="tab" (click)="clicked=false;clicked1=true">
                    <span class="d-none d-md-block">Week</span>
                    <span class="d-md-none">W</span>
                  </a>
                </li>
              </ul>
            </div>-->
          </div>
        </div>
        <div class="card-body" *ngIf="_cS.containers.length > 0">
          <agm-map [latitude]="_cS.containers[0].lat"
                   [longitude]="_cS.containers[0].lng"
                   [zoom]="16">
            <!-- Marcadores contenedores -->
            <agm-marker *ngFor="let container of _cS.containers; let i = index"
                        [iconUrl]="icon"
                        [latitude]="container.lat"
                        [longitude]="container.lng"></agm-marker>
            <ng-container *ngFor="let route of _rS.routes">
              <!-- Marcador origen -->
              <agm-marker *ngIf="route.gps.origin.lat !== 0"
                          label="A"
                          [latitude]="route.gps.origin.lat"
                          [longitude]="route.gps.origin.lng"></agm-marker>
              <!-- Marcador destino -->
              <agm-marker  *ngIf="route.gps.destination.lat !== 0"
                           label="B"
                           [latitude]="route.gps.destination.lat"
                           [longitude]="route.gps.destination.lng"></agm-marker>
              <agm-direction [origin]="route.gps.origin"
                             [waypoints]="route.gps.waypoints"
                             [renderOptions]="renderOptions"
                             [destination]="route.gps.destination"></agm-direction>-->
            </ng-container>
          </agm-map>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Reportes</h6>
              <h2 class="mb-0">Listado de rutas</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div class="chart">
            <canvas id="chart-orders" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  agm-map {
    height: 500px;
  }
</style>
