<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h1>Asignar empleados a vehiculos</h1>
          <p class="mb-0">Vehiculos, empleados</p>
          <hr>
          <button type="button" class="btn btn-outline-info" (click)="openWindowCustomClass(modalRouteSector)"><i
            class="fa fa-plus"></i> Asignar empleados
          </button>
        </div>
        <div class="card-body border-0">
          <div class="table-responsive">
            <ng-template #noVehicleEmployee>
              <div class="p-3">
                No ha sido asignado ningun vehículo
              </div>
            </ng-template>
            <table class="table align-items-center table-flush"
                   *ngIf="this._vES.vehicleEmployee.length > 0; else noVehicleEmployee">
              <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Vehículo</th>
                <th scope="col">Empleado</th>
                <th scope="col"></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let vehicleEmployee of this._vES.vehicleEmployee; let i = index">
                <th scope="row">
                  {{i + 1}}
                </th>
                <td>
                  <p class="mb-0">{{vehicleEmployee.vehicle.descripcion}}</p>
                </td>
                <td>
                  <p class="mb-0">{{vehicleEmployee.employee.name}}</p>
                </td>
                <td>
                  <!--<button type="button" class="btn btn-info btn-circle">
                    <i class="fa fa-edit"></i>
                  </button>-->
                  <button type="button" class="btn btn-danger btn-circle" (click)="deleteVehicleEmployee(vehicleEmployee._id)">
                    <i class="fa fa-times"></i>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Formulario vehiculo - empleado -->
<ng-template #modalRouteSector let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Ruta - Sector</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="assignVehicleEmployee()" [formGroup]="assignForm">
      <!--<input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="_us.selectedUser._id">-->

      <!-- Vehiculo -->
      <div class="form-group row">
        <label class="col-2 col-form-label">Vehículo</label>
        <div class="col-8">

          <select class="custom-select mb-3"
                  name="vehicle"
                  formControlName="vehicle"
                  required>
            <option value="">-- Seleccione vehiculo --</option>
            <option *ngFor="let vehicle of _iS.vehicles" [ngValue]="vehicle">
              {{ vehicle.marca }} | {{vehicle.disco}}
            </option>
          </select>

        </div>
      </div>
      <!--Horario-->
      <div class="form-group row">
        <label class="col-2 col-form-label">Empleados</label>
        <div class="col-8">

          <select class="custom-select mb-3"
                  name="employee"
                  formControlName="employee"
                  required>
            <option value="">-- Seleccione empleados --</option>
            <option *ngFor="let employee of _rS.employees" [ngValue]="employee">
              {{employee.name}} {{employee.apellido}} ({{employee.cargo}})
            </option>
          </select>

        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-dark" [disabled]="!assignForm.valid" type="submit">Guardar</button>
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
      </div>
    </form>
  </div>
</ng-template>
