<div class="header bg-gradient-primary py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Bienvenido</h1>
          <p class="text-lead text-light">Sistema de control de recolección</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-12 col-md-12" style="padding: 10px; background: white; border-radius: 7px">
      <ngb-tabset type="pills">
        <ngb-tab title="Sectores">
          <ng-template ngbTabContent>
            <div class="card bg-secondary shadow border-0">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <h3>
                      <strong>
                        Seleccione sector:
                      </strong>
                    </h3>
                    <ngb-accordion [closeOthers]="true">
                      <ngb-panel id="{{'custom-panel-' + i}}" class="main-list" *ngFor="let sector of _rS.routes; let i = index">
                        <ng-template ngbPanelHeader>
                          <div class="d-flex align-items-center justify-content-between">
                            <p>{{sector.name}}</p>
                            <button ngbPanelToggle (click)="setSelectedSector(sector)" class="btn btn-link p-0">
                              <i class="fa fa-map-pin" style="color: green"></i>
                            </button>
                          </div>
                        </ng-template>
                        <ng-template ngbPanelContent>
                          <h5><b>Horario:</b> {{sector.schedule_begin}} - {{sector.schedule_end}}</h5>
                          <h5><b>Dias:</b></h5>
                          <ng-template #noDays>
                            No hay dias asignados
                          </ng-template>
                          <ul *ngIf="sector.schedule_days_runs.length > 0; else noDays">
                            <li *ngFor="let day of sector.schedule_days_runs">
                              {{day}}
                            </li>
                          </ul>
                        </ng-template>
                      </ngb-panel>
                    </ngb-accordion>
                  </div>
                  <div class="col-sm-9">
                    <agm-map *ngIf="selectedSector, else noSelected" [latitude]="selectedSector.gps.destination.lat"
                             [longitude]="selectedSector.gps.destination.lng"
                             [zoom]="16">
                      <!-- Marcador origen -->
                      <agm-marker *ngIf="selectedSector.gps.origin.lat !== 0"
                                  label="A"
                                  [latitude]="selectedSector.gps.origin.lat"
                                  [longitude]="selectedSector.gps.origin.lng"></agm-marker>
                      <!-- Marcador destino -->
                      <agm-marker  *ngIf="selectedSector.gps.destination.lat !== 0"
                                   label="B"
                                   [latitude]="selectedSector.gps.destination.lat"
                                   [longitude]="selectedSector.gps.destination.lng"></agm-marker>
                      <agm-direction [origin]="selectedSector.gps.origin"
                                     [waypoints]="selectedSector.gps.waypoints"
                                     [renderOptions]="renderOptions"
                                     [destination]="selectedSector.gps.destination"></agm-direction>
                    </agm-map>
                    <ng-template #noSelected>
                      <h3 class="text-center">
                        Para visualizar el mapa, seleccione una opción
                      </h3>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Contenedores">
          <ng-template ngbTabContent>
            <div class="card bg-secondary shadow border-0">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <h3>
                      <strong>
                        Seleccione contenedor:
                      </strong>
                    </h3>
                    <ul class="list-unstyled">
                      <li class="main-list text-justify" *ngFor="let container of _cS.containers; let i = index" (click)="setSelectedContainer(container)">
                        <strong>Contenedor {{i+1}}: </strong> {{container.location}} <i class="ni ni-box-2" style="float: right; color: green"></i>
                      </li>
                    </ul>
                  </div>
                  <div class="col-sm-9">
                    <agm-map *ngIf="selectedContainer, else noSelectedC" [latitude]="selectedContainer.lat"
                             [longitude]="selectedContainer.lng"
                             [zoom]="16">
                      <!-- Marcador contenedor -->
                      <agm-marker [latitude]="selectedContainer.lat"
                                  [iconUrl]="icon"
                                  [longitude]="selectedContainer.lng">
                        <agm-info-window [disableAutoPan]="false"
                                         [latitude]="lat"
                                         [longitude]="lng">
                          <h3>Ubicacion contenedor: {{selectedContainer.location}}</h3>
                          <p><strong>Latitud: </strong>{{lat}}</p>
                          <p><strong>Longitud: </strong>{{lng}}</p>
                        </agm-info-window>
                      </agm-marker>
                    </agm-map>
                    <ng-template #noSelectedC>
                      <h3 class="text-center">
                        Para visualizar el mapa, seleccione una opción
                      </h3>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
      <!--<div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <form autocomplete="off" [formGroup]="sectorForm">
            <div class="form-group">
              <h4><strong>Seleccione su sector</strong></h4>
              <span *ngIf="locationAccepted">
                <i class="fa fa-map-pin text-success"></i>
                Ubicación {{locationAccepted ? 'permitida' : 'no permitida'}}
              </span>
              <div *ngIf="locationAccepted">
                <select class="custom-select"
                        id="inputGroupSelect04"
                        (change)="setSelected()"
                        name="sector"
                        [title]="locationAccepted? '': 'Debe permitir el acceso a la ubicación'"
                        formControlName="sector"
                        required>
                  <option value="">-&#45;&#45; Sectores -&#45;&#45;</option>
                  <option *ngFor="let sector of _rSvES.routesSectorVehicleEmployee" [ngValue]="sector">
                    {{sector.sectorRoute.sector.des}} ({{sector.sectorRoute.sector.name}})
                  </option>
                </select>
              </div>
            </div>
          </form>
          <agm-map *ngIf="selectedSector" [latitude]="lat"
                   [longitude]="lng"
                   [zoom]="16">
            <agm-polyline [editable]="false"
                          strokeColor="yellow"
                          strokeWeight="8"
                          [polylineDraggable]="false">
              <agm-polyline-point *ngFor="let map of selectedSector.sectorRoute.route.gps"
                                  [latitude]="map.lat"
                                  [longitude]="map.lng">
              </agm-polyline-point>
            </agm-polyline>
            &lt;!&ndash;<agm-marker *ngFor="let map of selectedSector.sectorRoute.route.gps"
                        [latitude]="map.lat"
                        [longitude]="map.lng">
            </agm-marker>&ndash;&gt;
            <agm-marker [latitude]="lat"
                        [longitude]="lng"
                        [iconUrl]="icon">
              <agm-info-window [disableAutoPan]="false"
                               [latitude]="lat"
                               [longitude]="lng">
                <h3>Posición actual</h3>
                <p><strong>Latitud: </strong>{{lat}}</p>
                <p><strong>Longitud: </strong>{{lng}}</p>
              </agm-info-window>
            </agm-marker>
          </agm-map>
        </div>
      </div>-->
    </div>
  </div>
</div>

<style>
  agm-map {
    height: 500px;
  }
</style>
